/* General */

body {
    width: 100%;
    background-color: #13498a;
    font-family: 'Raleway', 'Arial', sans-serif;
    margin: 0;
}

p {
    position: relative;
    font-size: 1.4em;
    line-height: 35px;
    font-weight: bold;
    color: #13498a;
    text-decoration: none;
    margin-right:2em;
    text-align: left;
    width: 900px;
}


h1 {
    text-align: center;
    margin-top: 0.7em;
    color:#fff;
    font-weight:bold;
    font-size:6em;
}

a {
    text-decoration: none;
    color: white;
}

/* index.html page Styles */

#homeContainer {
    position: relative;
}

#header {
    background-position: 0% 90%;
    position: relative;
    height: 300px;
    background-image: url("../images/stock.jpg");
    background-repeat:repeat;
}

#headerText {
    font-family: 'Montserrat', san-serif;
    font-weight: 0;
    margin: 0;
    left: -3%;
    color: #FFCF36;
    position: relative;
    top: 20%;
    text-transform: uppercase;

}

#return {
    font-size: 1.5em;
    position: relative;
    margin-top: 40%;
    left: 50%;
}

#codeIntro {
    left: 27%;
    font-family: 'Rubik';
    text-transform: uppercase;
    font-size: 3em;
}

.link {
    color: white;   
    position: relative;
    left: 41%;
    top: 5%;
    font-size: 2em;
    padding: 0.5em;
}

.link:hover {
    background-color:#2461A3;
    transition: 0.3s;
    border: 1px solid white;
}

#linkTwo {
    left: 40%;   
}

.preface {
    margin-top: 5%;
    margin-bottom: 5%;
    text-align: center;
    color:#fff;
    position: relative;
    right: 3%;
    font-family: 'Raleway';
    font-size: 2em;
}

#flight {
    right: 4%;
}

/* Quiz Styles */


#logo {
  position: relative;
  left: 5%;
  line-height: 150px;
  height: 150px;
  width: 40%;
}

.quiz {
  width: 30%;
}

#qArray {
  width: 100%;
  margin: 0;
  background-color: #13498a;
}

.questionHeader {
  color: #ffcf34;
  font-size: 2em;
  text-align: left;
  margin-left: -1em;
}

.questionImage {
    margin-bottom: 15%;
    display: block;
    width: 180%;
}

.question {
    width: 100%;
    padding: 5% 100% 5% 20%;
    margin: 10% 10%;
    position: relative;
    font-size: 1em;
    line-height: 24px;
    font-weight: bold;
    color: #000030;
    text-decoration: none;
    margin-right:2em;
    background-color: #fff;
}

#quizResults {
    display: none;
}

#results {
    color: white;
    position: relative;
    left: 50%;
}

#resultsText {
    display: none;
}

/* Forms */

input {
    position: relative;
    margin-bottom: 5%;
}

input[type=submit] {
    font-family: 'Raleway';
    font-weight: bold;
}

label {
    position: relative;
    left: 5%;
    color: #13498a;
    font-size: 1.3em;
    margin-bottom: 5%;
}

/* Buttons */

#submitButton {
    background-color: #ddcf34;
    border: none;
    color: #13498a;
    padding: 12px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1.2em;
    border-radius: 15px;
    position: relative;
    left: 30%;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
}

#submitButton:hover {
    background-color: white;
    color: black;
}

@media screen and (max-width: 1004px) {
    
    .container {
        margin: 15% 0;   
    }
    
    .link {
        left: 32%;   
    }
    
    #linkTwo {
        left: 30%;   
    }
    
    .question {
        width: 500px;   
    }
    
    .questionImage {
        width: 700px;   
    }
        
    #logo {
        width: 60%;   
    }
    
    p {
        width: 700px;   
    }
    
    #results {
        margin-top: 20%;
        left: 10%;
    }
    
    #return {
        left: 10%;
        padding-bottom: 20%;
    }
    
}
    

@media screen and (max-width: 1200px) {
    
    .question {
        width: 500px;   
    }
    
    .questionImage {
        width: 700px;   
    }
        
    p {
        width: 700px;   
    }
    
    
}

@media screen and (max-width: 500px) {
    
    p {
        width: 400px;   
    }
    
    #logo {
        left: 0%;
        width: inherit;
    }
    
    .quiz {
        width: 25%;
    }
    
    .questionHeader {
        position: relative;
        left: 10%;
    }   
    
    .questionImage {
        width: 400px;
    }
    
    .question {
        width: 340px;   
    }

    .preface {
        margin-top: 5%;
        margin-bottom: 5%;
        text-align: center;
        color:#fff;
        position: relative;
        right: 3%;
        font-family: 'Raleway';
        font-size: 1.2em;
    }
    
    .link {
        position: relative;
        left: 25%;
        top: 10%;
        font-size: 2em;
        padding: 0.5em;
    }
    
    #linkTwo {
        left: 20%;   
    }
    
    .container {
        margin: 25% 0;
        height: 200px;
    }
    

  #submitButton {
    margin: 0;
    position: inherit;
    border-radius: 0;
    width: 500px;
    height: 100px;
    text-align: center;
  }
    
   #return {
        width: 200px;   
   }
    

}
